nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color:  #757575;;
}
.nav-title h2{
    color:  #9873FF;
    font-size: 30px;
}
