nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    margin-right: 10px;
    text-decoration: none;
    color:  #757575;;
}
.nav-title{
    color:  #1A1919;
}
